@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@600;700;800;900&family=Syne+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arvo', serif;
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  transition: 0.5s linear all;
}
body {
  background-color: #030910;
}
/* start header  */
.intro-img {
  width: 100%;
  height: 215px;
}
.search {
  margin-top: 14px;
  display: flex;
  justify-content: center;
}
.search input {
  margin-top: 5px;
  width: 60%;
  height: 24px;
  margin-right: 15px;
  background: rgba(196, 196, 196, 0.49);
  border-radius: 3px;
  border: none;
  padding-left: 10px;
  color: white;
}
/* ========= button========= */
.btn {
  font-family: 'Marcellus SC', serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px 15px;
  background: #1e2328;
  color: #cdbe91;
  box-shadow: inset 0 0 2px #000000;
  border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
  border-image-slice: 1;
  border-width: 2px;
}

.btn:hover {
  text-shadow: 0 0 5px #ffffff80;
  box-shadow: 0 0 8px 0 #ffffff50;
  background: linear-gradient(to bottom, #1e2328, #433d2b);
  cursor: pointer;
  transition: 0.1s;
}

.btn:active {
  text-shadow: none;
  box-shadow: none;
  color: #cdbe9130;
}
/* ==========end button ========= */
/* end header  */
/* start main  */
.champion {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  margin: 23px 20px 0 20px;
}
.champion figcaption {
  margin: auto;
  width: 30%;
  text-align: center;
}
.champion figcaption img {
  width: 95%;
}
figcaption img:hover {

  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(97, 94, 93, 0.5),
    0 6px 20px 0 rgba(255, 255, 255, 0.363);
}

.champion figcaption h3 {
  color: #cbac62;
  text-align: center;
  margin-bottom: 17px;
  overflow: hidden;
  height: 25px;
}
figcaption a {
  color: #cbac62;
  text-decoration: none;
}
figcaption a {
  color: #cbac62;
  text-decoration: none;
}
.buttons {
  display: none;
  margin-left: 10px;
  justify-content: center;
  flex-direction: column;
}

.skin-btn {
  height: 31px;
  width: 85px;
  margin-bottom: 10px;
}
.details-btn {
  margin-bottom: 10px;
  height: 31px;
  width: 85px;
}
/* end main  */
/* start footer  */
.phone-footer {
  margin: 12px 26px 40px 26px;
  display: flex;
  justify-content: space-between;
}
.arrow-left {
  color: #c8aa6d;
}
.fa-solid {
  background-color: #030910;
  padding: 10px;
  border-radius: 50%;
  border: 3px solid #cbac62;
  font-weight: bold;
}
.single-arrow {
  width: 42px;
  height: 42px;
  padding-left: 13px;
}
.single-arrow-r {
  width: 42px;
  height: 42px;
  padding-left: 15px;
}
/* =========== display ========== */
.intro-img-desktop {
  display: none;
}
.intro-img {
  display: block;
}
.champion-disktop {
  display: none;
}
.title-desktop,
h1 {
  display: none;
}
.disktop-footer {
  display: none;
}
.search-for-mobile {
  display: block;
  display: flex;
  justify-content: center;
}
.disktop-btn {
  display: none;
}
.footer-btns {
  display: none;
}

.intro-img-tab {
  display: none;
}
