@media (min-width: 767px) {
  .parent {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
  .skins {
    margin: auto;
  }
  .skins img {
    height: 54vh;
  }
  .skin2 {
    display: block;
    width: 25%;
    height: 70vh !important;
    position: relative;
    bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .skin1 {
    display: block;
    position: static;
    width: 20%;
    margin: 0;
  }
  .skin1:hover {
    transform: scale(1.2);
  }
  .skin2:hover {
    transform: scale(1.08);
  }
  .skin3:hover {
    transform: scale(1.2);
  }
  .skin3 {
    display: block;
    position: static;
    width: 20%;
  }
  button {
    margin: -19px auto 0px auto;
    width: 450px;
    /* margin: auto; */
  }
  .head {
    display: flex;
    justify-content: space-between;
  }
  .title {
    width: 15%;
    text-align: start;
  }
}
