@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@600;700;800;900&family=Syne+Mono&display=swap');
/* 
1- Gold color : #CBAC62 , 
2- Dark blue color : #030910 

*/

/* GENERAL Style start */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 1s ease all;
}
body {
  font-family: 'Arvo', serif;
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  background-color: #030910;
  display: flex;
  flex-direction: column;
}
/* GENERAL Style End */

/* Header Style start */
.head {
  margin: 5% 0 5% 6%;
  color: #cbac62;
  display: flex;
  align-items: center;
}
.title {
  text-align: center;
  color: #cbac62;
  width: 100%;
}
.fa-arrow-left {
  color: #cbac62;
  padding: 10px;
  border-radius: 50%;
  border: 3px solid #cbac62;
}
/* Header Style End */

/* Skins Style Start */
.parent {
  width: 60%;
}
.skins {
  display: flex;
  width: 80%;
  margin: 0 20% 0 2%;
}
.skin1 {
  display: block;
  margin-left: 20%;
  position: relative;
  /* left: 20px; */
  width: 90%;
}
.skin1:hover {
  transform: scale(1.1);
  z-index: 5;
}
.skin3 {
  display: block;
  position: absolute;
  left: 170px;
  top: 300px;
  width: 50%;
}
.skin2 {
  display: none;
}

/* Skins Style End */

/* Footer Style Start */
button {
  font-family: 'Marcellus SC', serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px 15px;
  background: #1e2328;
  color: #cdbe91;
  box-shadow: inset 0 0 2px #000000;
  border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
  border-image-slice: 1;
  border-width: 2px 0;
  display: block;
  margin: 370px auto 15px auto;
  width: 85%;
}

button:hover {
  text-shadow: 0 0 5px #ffffff80;
  box-shadow: 0 0 8px 0 #ffffff50;
  background: linear-gradient(to bottom, #1e2328, #433d2b);
  cursor: pointer;
  transition: 0.1s;
}

button:active {
  text-shadow: none;
  box-shadow: none;
  color: #cdbe9130;
}

/* Footer Style End */
